@font-face{
    font-family: 'inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

html{
    font-family: 'inter';
    font-size: 62.5%;
}
body{
    background-color: #FFD2C3;
}



.flexbox{
    display: flex;
}
.align-center{

}
.alignjustify-center{
    align-items: center;
    justify-content: center;
}


.alignjustify-center-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.justify-center{
    justify-content: center;
}

.justify-center-column{
    flex-direction: column;
    justify-content: center;
}



.box-shadow-bottom{
    box-shadow: 0 5px 0 2px var(--tertiary-brown); 
}

.border-bottom{
    border-bottom: 10px solid var(--tertiary-brown);
}

.main-container{
    box-sizing: content-box;
    width: 1850px;

}

.padding-sm{
    padding: 8px;
}

.padding-md{
    padding: 25px;
}

.position-relative{
    position: relative;
}

.text-sm{
    font-size: 1.6rem;
}
.text-md{
    font-size: 2.2rem;

}

.text-lg{
    font-size: 3.6rem;
}

.header-sm{
    font-size: 1.4rem;

}
.header-md{
    font-size: 4rem;
}

.header-lg{
    font-size: 4.8rem;
}

.text-align-center{
    text-align: center;
}

.margin-top-md{
 margin-top: 44px;
}


.wrapper{
    position: relative;
    
}

.container-md{
    height: 280px;

}

.flexbox-container-sm--mainbrown{
    box-sizing: content-box;
    display: flex;
    background-color: var(--main-brown);
}
.flexbox-container-md--mainbrown{
    box-sizing: content-box;
    display: flex;
    height: 260px;
    background-color: var(--main-brown);
}
.flexbox-container-lg--mainbrown{
    display: flex;
    height: 428px;
    background-color: var(--main-brown);
}


.flexbox-container-md--mainwhite{
    position: relative;
    display: flex;
    height: 280px;

}
.flexbox-container-lg--mainwhite{
    position: relative;
    height: 1202px;

}

.seperator-abovecontainer{
    position: absolute;
    top: -22px;
    right: 50%;
    transform: translateX(50%);

    width: 120px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--tertiary-brown);
}

.seperator-belowcontainer{
    position: absolute;
    top: 22px;
    right: 50%;
    transform: translateX(50%);

    width: 120px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--tertiary-brown);
}


.section-title{
    line-height: 1;

    gap: 12px;
    z-index: 2;
}
.section-subheader-light{
    font-weight: 400;
    color: var(--main-white);
}

.section-subheader-dark{
    font-weight: 400;
    color: var(--secondary-brown);
}

.section-header{
    color: var(--tertiary-brown);
    font-weight: 500;
    height: min-content;
}