@font-face{
    font-family: 'inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

html{
    font-family: 'inter';
    font-size: 62.5%;
}
body{
    background-color: #FFD2C3;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}

.background--main-brown{
    background-color: var(--main-brown);

}
.container-md{
    height: 260px;
}

.container-sm{
    height: 89px;
}

.container-lg{
    
    height: 428px;

}

.box-shadow-bottom{
    box-shadow: 0 5px 0 2px var(--tertiary-brown); 
}

.main-container{
    width: 1850px;
    height: 100%;
}

.padding-sm{
    padding: 8px;
}

.position-relative{
    position: relative;
}

.text-small{

}
.text-md{
    font-size: 2.2rem;

}

.text-lg{
    font-size: 3.6rem;
}

.header-lg{
    font-size: 4.8rem;
}

.text-align-center{
    text-align: center;
}